<div ng-include="'views/dashboard.html'"></div>
<div class='container announcement-container' ng-controller="NewCtrl">
    <div ng-show="!selectOptions">
        <img src="images/gears-anime.gif">
    </div>
    <div ng-show="selectOptions" class="row MT15">
        <div class="col-md-3">
            <input type="radio" id="announcement" ng-model="messageType.name" value="announcement" ng-change="changeState(messageType)">
            <label for="announcement"><span></span> Announcement </label>
        </div>
        <div class="col-md-3">
            <input type="radio" id="notification" ng-model="messageType.name" value="notification" ng-change="changeState(messageType)">
            <label for="notification"><span></span> Notification </label>
        </div>
    </div>
    <div ng-show="selectOptions">
        <table class="table MT15">
            <thead>
                <tr>
                    <th>
                        <label for="campaign">CampaignName<span id="red"> *</span>:</label>
                    </th>
                    <td>
                        <input type="text" maxlength="30" class="form-control" ng-model='message.campaign' placeholder="Campaign Name" ng-blur="checkCampaign()" required>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="type">CardType:</label>
                    </th>
                    <td>
                        <select class="btn btn-default" ng-model="selectType.messageCardTypeValue" ng-options="v for v in selectType.messageCardTypeValues"></select>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="shortTxt">Title <span id="red">*</span>:</label>
                    </th>
                    <td>
                        <input type="text" maxlength="30" class="form-control" ng-model='message.shortTxt' placeholder="Short Text" required>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="imgURL">Icon URL:</label>
                    </th>
                    <td>
                        <input type="url" class="form-control" ng-model='message.imgURL' placeholder="Image Url" />
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="longTxt">Message <span id="red">*</span>:</label>
                    </th>
                    <td>
                        <textarea "text" maxlength="200" class="form-control" ng-model='message.longTxt' placeholder="Long Text" required>
                        </textarea>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="sequence">Priority:</label>
                    </th>
                    <td>
                        <input type="number" class="form-control" placeholder="Sequence" ng-model='message.sequence' ng-blur="limmiter()" min="0" max="5" value="5" />
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="type">Sender:</label>
                    </th>
                    <td>
                        <select class="btn btn-default">
                            <option ng-value="systemTypeValue.name" selected>{{systemTypeValue.name}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="validFrom" style='margin-bottom: 20%;'>Valid From <span id="red">*</span>:</label>
                    </th>
                    <td>
                        <p id='red' ng-show="show">The minimum difference between Valid From & Valid Till must be 5hrs and 50 minutes</p>
                        <div class="dropdown form-group">
                            <a class="dropdown-toggle" id="dropdownStart" role="button" data-toggle="dropdown" data-target="#" href="#">
                                <div class="input-group date">
                                    <input data-date-time-input="YYYY-MMM-DD hh:mm:ss a" type="text" ng-click="showWarning()" class="form-control" data-ng-model="dateRangeStart" placeholder="Valid From" readonly required="true">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="dateRangeStart" data-datetimepicker-config="{ dropdownSelector: '#dropdownStart', renderOn: 'end-date-changed' }" data-on-set-time="startDateOnSetTime()" data-before-render="startDateBeforeRender($dates)"></datetimepicker>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label style='margin-bottom: 16%;' for="validTill">Valid Till <span id="red">*</span>:</label>
                    </th>
                    <td>
                        <div class="dropdown form-group">
                            <a class="dropdown-toggle" id="dropdownEnd" role="button" data-toggle="dropdown" data-target="#" href="#">
                                <div class="input-group date">
                                    <input data-date-time-input="YYYY-MMM-DD hh:mm:ss a" type="text" class="form-control" data-ng-model="dateRangeEnd" placeholder="Valid Till" readonly>
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="dateRangeEnd" data-datetimepicker-config="{ dropdownSelector: '#dropdownEnd', renderOn: 'start-date-changed' }" data-on-set-time="endDateOnSetTime()" data-before-render="endDateBeforeRender($view, $dates, $leftDate, $upDate, $rightDate)"></datetimepicker>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr ng-show="messageType.announcement">
                    <th>
                        <label for="regionCode">Region code <span id="red">*</span>:</label>
                    </th>
                    <td>
                        <div class="demo-section k-content">
                            <select kendo-multi-select k-options="selectOptions" k-ng-model="selectedIds" ng-model='message.regionCode'>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr ng-show="selectType.messageCardTypeValue == 'PlainText with CTA'">
                    <th>
                        <label for="text">Primary CTA text:</label>
                    </th>
                    <td>
                        <input type="text" Maxlength="10" class="form-control" ng-model='appCodefield.text' placeholder="Text" />
                    </td>
                </tr>
                <tr ng-show="selectType.messageCardTypeValue == 'PlainText with CTA'">
                    <th>
                        <label for="link">Primary CTA Link:</label>
                    </th>
                    <td>
                        <input type="url" class="form-control" ng-model='appCodefield.link' class="link" placeholder="Link" />
                    </td>
                </tr>
                <tr ng-show="selectType.messageCardTypeValue == 'PlainText with CTA'">
                    <th>
                        <label for="target">Link Target:</label>
                    </th>
                    <td>
                        <select class="btn btn-default" ng-model="selectType.targetTypeValue" ng-options="v for v in selectType.targetTypeValues"></select>
                    </td>
                </tr>
                <tr ng-show="messageType.notification">
                    <th>
                        <label for="memberEmail" style="margin-bottom: 30%;">Email ID <span id="red">*</span>:</label>
                    </th>
                    <td>
                        <div layout-gt-sm="row">
                            <md-autocomplete flex="" ng-blur='fetchMemberId()' md-input-name="autocompleteField" md-input-minlength="2" md-input-maxlength="18" md-no-cache="noCache" md-selected-item="selectedItem" md-search-text="searchText" md-items="item in querySearch(searchText)" md-item-text="item.display" md-require-match="" md-floating-label="Email">
                                <md-item-template>
                                    <span md-highlight-text="searchText">{{item.display}}</span>
                                </md-item-template>
                            </md-autocomplete>
                        </div>
                    </td>
                </tr>
                <tr ng-show="messageType.notification">
                    <th>
                        <label for="memberId">Member ID <span id="red">*</span>:</label>
                    </th>
                    <td>
                        <input class="form-control" ng-model='message.memberId' placeholder="memberId" disabled />
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="appCode">Appcode:</label>
                    </th>
                    <td>
                        <div class="md-padding demo checkboxdemoSelectAll">
                            <md-checkbox aria-label="Select All" ng-checked="isChecked()" md-indeterminate="isIndeterminate()" ng-click="toggleAll()">
                                <span ng-if="isChecked()">Un-</span>Select All Appcodes
                            </md-checkbox>
                            <div class="demo-select-all-checkboxes" flex="100" ng-repeat="item in items">
                                <md-checkbox ng-checked="exists(item, selected);" ng-click="toggle(item, selected)">
                                    {{ item }}
                                </md-checkbox>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr ng-show="showDiv">
                    <th>
                        tEST
                    </th>
                    <td>
                        dEMO
                    </td>
                </tr>
            </thead>
        </table>
        <div class="PB20">
            <input type="checkbox" id="advanced" ng-model="advanced">
            <label for="advanced"><span></span> Advanced </label>
            <span class="graySmallText">( Custom key-value pairs, Deep link )</span>
        </div>
        <div class="grid push-form" ng-show="!advanced">
            <a href data-ng-click="addNewKeyValuePair()">+ Add New Pair</a>
            <div ng-model="showKeyValue" ng-show="showKeyValue">
                <div data-ng-repeat="keyValuePair in keyValuePairs" style="padding-bottom: 5px;">
                    <input type="text" ng-model="keyValuePair.name" placeholder="Key">
                    <input style="margin-left: 2px;" type="text" ng-model="keyValuePair.value" placeholder="Value">
                    <button ng-click="pushToParseKeyValuePair()">Save</button>
                    <button style="margin-left: 3px;" ng-click="removeKeyValuePair($index,keyValuePair.name)">X</button>
                </div>
            </div>
        </div>
        {{parsedKeyValuePair}}
        <button type="submit" class="btn btn-primary" ng-click="create(message)">Create</button>
    </div>
</div>
