<!--BEGIN HEADER-->
<div ng-controller='DashboardCtrl'>
    <div id="header" class="header-scroll" role="banner" style="position:relative">
        <a id="menu-link" class="head-button-link menu-hide" href="#"><span>Menu</span></a>
        <a href="#" class="logo"></a>
        <div class="left">
            <ul class="topNav tooltip-bottom">
                <li class="mainLink" id="accountLists">{{routeName}}</li>
            </ul>
        </div>
        <div class="right">
            <ul class="topNav tooltip-bottom">
                <li class="mainLink noBrd" id="acctTime">{{ clock | date:'medium'}}</li>
                <li class="mainLink noBrd"><a ng-class="{active: isRouteActive('/profile')}" href="#/profile"><span class="glyphicon glyphicon-user"></span></a></li>
                <li class="mainLink" id="accountLists">
                    <span ng-click="logout()">Logout</span>
                    <a href="#" class="accountName" data-toggle="dropdown">
                        <span class="profile-username ">
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--END HEADER-->
    <!--BEGIN WRAPPER-->
    <div id="wrap">
        <!--BEGIN SIDEBAR-->
        <div id="menu" role="navigation">
            <ul class="main-menu">
                <li ng-show="userRole=='Admin'" class="submenu"><i class="margin-right-10 fa fa-users"></i>User Management
                </li>
                <ul ng-show="userRole=='Admin'" class="submenu-option tooltip-right">
                    <li ng-class="{active : isRouteActive('/createUser')}"><a href="#/createUser" class=""><i class="fa fa-user-plus" aria-hidden="true"></i> Create User</a></li>
                    <li ng-class="{active : isRouteActive('/listUsers')}"><a href="#/listUsers" class=""><i class="fa fa-users" aria-hidden="true"></i> List Users</a></li>
                </ul>
                <li class="submenu"><i class="fa fa-wrench" aria-hidden="true"></i> Manage Campaigns
                </li>
                <ul class="submenu-option tooltip-right">
                    <!-- <li class=""><a href="javascript:void(0)">Create Campaigns</a></li> -->
                    <li ng-class="{active : isRouteActive('/createCampaign')}"><a href="#/createCampaign" class=""><i class="fa fa-envelope" aria-hidden="true"></i> Create Campaign</a></li>
                </ul>
                <li class="submenu">
                    <i class="margin-right-10 fa fa-tachometer"></i><span>Dashboards</span></li>
                <ul class="submenu-option">
                    <li ng-class="{active : isRouteActive('/viewCampaigns')}"><a href="#/viewCampaigns" class=""><i class="fa fa-eye" aria-hidden="true"></i> View Campaigns</a></li>
                </ul>
            </ul>
            <div class="clearfix"></div>
        </div>
        <!--SIDEBAR END -->
        <!--BEGIN MAIN CONTENT-->
        <!--      <div id="main" role="main">
        </div> -->
        <!--END MAIN CONTENT-->
        <!--END WRAPPER-->
    </div>
</div>
