<div ng-include="'views/dashboard.html'"></div>
<div class='container announcement-container' ng-controller='AnnouncementCtrl'>
    <div ng-show="!selectedIds">
        <img src="images/gears-anime.gif">
    </div>
    <div ng-show="selectedIds">
        <table class="table MT15">
            <thead>
                <tr>
                    <th>
                        <label for="campaign">CampaignName<span id="red"> *</span>:</label>
                    </th>
                    <td>
                        <input type="text" maxlength="30" class="form-control" ng-model='announcement.campaign' placeholder="Campaign Name" readonly required>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="type">CardType:</label>
                    </th>
                    <td>
                        <select class="btn btn-default" ng-model="announcement.cardType">
                            <option ng-selected="announcement.cardType == 'PT'">PlainText</option>
                            <option ng-selected="announcement.cardType == 'PT_CTA'">PlainText with CTA</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="shortTxt">Title <span id="red">*</span>:</label>
                    </th>
                    <td>
                        <input type="text" maxlength="30" class="form-control" ng-model='announcement.shortTxt' placeholder="Short Text" required>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="imgURL">Icon URL:</label>
                    </th>
                    <td>
                        <input type="url" class="form-control" ng-model='announcement.imgURL' placeholder="Image Url" />
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="longTxt">Message <span id="red">*</span>:</label>
                    </th>
                    <td>
                        <textarea "text" maxlength="200" class="form-control" ng-model='announcement.longTxt' placeholder="Long Text" required>
                        </textarea>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="sequence">Priority:</label>
                    </th>
                    <td>
                        <input type="number" class="form-control" placeholder="sequence" ng-model='announcement.sequence' ng-blur="limmiter()" min="0" max="5" />
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="type">Sender:</label>
                    </th>
                    <td>
                        <select class="btn btn-default" ng-model="announcement.type">
                            <option ng-value="announcement.type" selected>{{announcement.type}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="validFrom" style='margin-bottom: 20%;'>Valid From <span id="red">*</span>:</label>
                    </th>
                    <td>
                        <p id='red' ng-show="show">The minimum difference between Valid From & Valid Till must be 5hrs and 50 minutes</p>
                        <div class="dropdown form-group">
                            <a class="dropdown-toggle" id="dropdownStart" role="button" data-toggle="dropdown" data-target="#" href="#">
                                <div class="input-group date">
                                    <input data-date-time-input="YYYY-MMM-DD hh:mm:ss a" type="text" ng-click="showWarning()" class="form-control" data-ng-model="dateRangeStart" placeholder="Valid From" required readonly>
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="dateRangeStart" data-datetimepicker-config="{ dropdownSelector: '#dropdownStart', renderOn: 'end-date-changed' }" data-on-set-time="startDateOnSetTime()" data-before-render="startDateBeforeRender($dates)"></datetimepicker>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label style='margin-bottom: 16%;' for="validTill">Valid Till <span id="red">*</span>:</label>
                    </th>
                    <td>
                        <div class="dropdown form-group">
                            <a class="dropdown-toggle" id="dropdownEnd" role="button" data-toggle="dropdown" data-target="#" href="#">
                                <div class="input-group date">
                                    <input data-date-time-input="YYYY-MMM-DD hh:mm:ss a" type="text" class="form-control" data-ng-model="dateRangeEnd" placeholder="Valid Till" required readonly>
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="dateRangeEnd" data-datetimepicker-config="{ dropdownSelector: '#dropdownEnd', renderOn: 'start-date-changed' }" data-on-set-time="endDateOnSetTime()" data-before-render="endDateBeforeRender($view, $dates, $leftDate, $upDate, $rightDate)"></datetimepicker>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="regionCode">Region code <span id="red">*</span>:</label>
                    </th>
                    <td>
                        <div class="demo-section k-content">
                            <select kendo-multi-select k-options="selectOptions" k-ng-model="selectedIds" ng-model='announcement.regionCode' required>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr ng-show="announcement.cardType == 'PT_CTA' || announcement.cardType == 'PlainText with CTA'">
                    <th>
                        <label for="text">Primary CTA text:</label>
                    </th>
                    <td>
                        <input type="text" Maxlength="10" class="form-control" ng-model='announcement.appCodes[0].callToAction[0].text' placeholder="Text" />
                    </td>
                </tr>
                <tr ng-show="announcement.cardType == 'PT_CTA' || announcement.cardType == 'PlainText with CTA'">
                    <th>
                        <label for="link">Primary CTA Link:</label>
                    </th>
                    <td>
                        <input type="url" class="form-control" ng-model='announcement.appCodes[0].callToAction[0].link' class="link" placeholder="Link" />
                    </td>
                </tr>
                <tr ng-show="announcement.cardType == 'PT_CTA' || announcement.cardType == 'PlainText with CTA'">
                    <th>
                        <label for="target">Link Target:</label>
                    </th>
                    <td>
                        <select class="btn btn-default" ng-model="announcement.appCodes[0].callToAction[0].target">
                            <option ng-selected="announcement.appCodes[0].callToAction[0].target == '_blank'">New Window</option>
                            <option ng-selected="announcement.appCodes[0].callToAction[0].target == '_self'">Same Window</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="appCode">Appcode:</label>
                    </th>
                    <td>
                        <!--  <select class="btn btn-default" ng-model="announcement.appCodes[0].appCode" ng-options="v for v in selectType.appCodeTypeValues"></select> -->
                        <div class="md-padding demo checkboxdemoSelectAll">
                            <md-checkbox aria-label="Select All" ng-checked="isChecked()" md-indeterminate="isIndeterminate()" ng-click="toggleAll()">
                                <span ng-if="isChecked()">Un-</span>Select All Appcodes
                            </md-checkbox>
                            <div class="demo-select-all-checkboxes" flex="100" ng-repeat="item in items">
                                <md-checkbox ng-checked="exists(item, selected);" ng-click="toggle(item, selected)">
                                    {{ item }}
                                </md-checkbox>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr ng-show='showDiv'>
                    <th>
                        tEST
                    </th>
                    <td>
                        dEMO
                    </td>
                </tr>
            </thead>
        </table>
        <button type="button" class="btn btn-success" ng-click="update(announcement)">Update</button>
    </div>
</div>
