<div ng-include="'views/dashboard.html'"></div>
<div class="container announcement-container" ng-controller="ResetPassowrdCtrl">
    <div class="form-container">
        <div class="alert alert-danger" ng-show="alertFlag">{{alertMsg}}</div>
        <table class="table MT15">
            <thead>
                <tr>
                    <th>
                        <label for="oldPassword">Old Password<span id="red"> *</span>:</label>
                    </th>
                    <td>
                        <input type="password" ng-model="user.oldPassword" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="newPassword">New Password<span id="red"> *</span>:</label>
                    </th>
                    <td>
                        <input type="password" ng-model="user.newPassword" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="confirmPassword">Confirm Password<span id="red"> *</span>:</label>
                    </th>
                    <td>
                        <input type="password" ng-model="user.confirmPassword" class="form-control" ng-blur="validatePassword(user)" />
                    </td>
                </tr>
            </thead>
        </table>
        <button type="submit" class="btn btn-primary" ng-click="resetPassword(user)">Submit</button>
    </div>
</div>
