<div ng-include="'views/dashboard.html'"></div>
<div class="container announcement-container" ng-controller="SentCtrl">
    <form class="form-horizontal">
        <legend style="margin-left: 12px;">Announcements</legend>
        <div class="realtime-data row-fluid">
            <div class="span5" style="border-right:#ccc 1px solid; position:relative;">
                <div class="span12 newUsers">
                    <div ng-if="!announcements">
                        <img src="images/gears-anime.gif" height='50' width='50'>
                    </div>
                    <a style="text-decoration: none;color: inherit;" href="#/listAnnouncements">
                        <p class="nums">{{announcements.data.length}}</p>
                    </a>
                    <p class="tl">Total number of announcements sent</p>
                </div>
            </div>
        </div>
    </form>
    <form class="form-horizontal">
        <legend style="margin-left: 12px;">Notifications</legend>
        <div class="realtime-data row-fluid">
            <div class="span5" style="border-right:#ccc 1px solid; position:relative;">
                <div class="span12 newUsers">
                    <div ng-if="!notifications">
                        <img src="images/gears-anime.gif" height='50' width='50'>
                    </div>
                    <a style="text-decoration: none;color: inherit;" href="#/listNotifications">
                        <p class="nums">{{notifications.data.length}}</p>
                    </a>
                    <p class="tl">Total number of notifications sent</p>
                </div>
            </div>
        </div>
    </form>
</div>
