<div ng-include="'views/dashboard.html'"></div>
<div class="container announcement-container" ng-controller="ViewCampaignsCtrl">
    <div class="row">
        <div class="col-xs-6">
            <label for="search">Filter Campaign:</label>
            <br>
            <select class="btn btn-default" ng-model="state.campaignState" ng-options="v for v in state.campaignStatus"></select>
            <button type="submit" ng-click="getAllCampaigns(state.campaignState)">Go</button>
        </div>
        <div class="col-xs-6">
            <label for="search">Search:</label>
            <input ng-model="q.campaign" id="search" class="form-control" placeholder="Search Campaign Name">
        </div>
    </div>
    <div class="viewCampaignsTable">
        <table class="announcement MT15" style="width:131%">
            <thead>
                <th class="announcement">Campaign Name</th>
                <th class="announcement">Sender</th>
                <th class="announcement">User</th>
                <th class="announcement">Valid From</th>
                <th class="announcement">Valid Till</th>
                <th class="announcement">AppCode</th>
                <th class="announcement">Region</th>
                <th class="announcement">Created On</th>
                <th class="announcement">Messages Sent</th>
                <th class="announcement" colspan="2">Action</th>
            </thead>
            <tbody>
                <tr dir-paginate="data in campaigns.data | filter:q:strict | itemsPerPage: pageSize" current-page="currentPage" class="announcement">
                    <td class="announcement">{{data.campaign}}</td>
                    <td class="announcement">{{data.type}}</td>
                    <td class="announcement">{{data.memberEmail ? data.memberEmail : 'All Users'}}</td>
                    <td class="announcement">{{data.validFrom | date:'dd-MM-yyyy HH:mm a'}}</td>
                    <td class="announcement">{{data.validTill | date:'dd-MM-yyyy HH:mm a'}}</td>
                    <td class="announcement"><span ng-repeat="data in data.appCodes"> {{data.appCode}} </td>
                    <td class="announcement"><span ng-repeat="data in data.regionCode"> {{data}} </span></td>
                    <td class="announcement">{{data.createdOn | date:'dd-MM-yyyy HH:mm a'}}</td>
                    <td class="announcement">{{data.count ? data.count : '1'}}</td>
                    <td class="announcement">
                        <a ng-show="!data.isStopped && data.validTill > currentTime" href="#/{{data.memberId ? 'notification' : 'announcement'}}/{{data._id}}">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td class="announcement">
                        <button ng-if="!data.isStopped" class="btn btn-info btnwidth" ng-disabled="data.validTill < currentTime" ng-click="stopCampaign(data)">{{data.isStopped || data.validTill
                            < currentTime ? 'Completed' : 'Stop'}}</button>
                                <button ng-if="data.isStopped" class="btn btn-info btnwidth" ng-disabled="data.isStopped ||data.validTill < currentTime" ng-click="stopCampaign(data)">{{data.isStopped || data.validTill
                                    < currentTime ? 'Stopped' : 'Stop'}}</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-controller="OtherController">
        <div class="text-center">
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="lib/pagination/dirPagination.tpl.html"></dir-pagination-controls>
        </div>
    </div>
</div>
